#wrapper {
  width: 800px;
  margin: auto;
  margin-top: 2em;
  font-size: 18px;
  font-family: 'Georgia';
  line-height: 1.4em;
}

.int {
  margin: auto;
  width: 800;
}

.subtitle {
  font-size: 16px;
  font-style: italic;
}

img {
  display: block;
  margin: auto;
}
